<div class="table-responsive-s" style='width:500px;margin-left:100px;text-align: center;'>
  <div class="card border-primary" >
    <div class="card-header" style='text-align: center;'>
      Deteccion de golpes
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" enctype='multipart/form-data'>
        <div class="form-group">
          <img [src]="url" height="200" class="border">
        </div>
        <div class="form-group">
          <label for="file" class="form-label">Subir imagen del coche recien alquilado</label>
        </div>
        <div class="form-group">
          <input type='file' (change)="onSelectFileInitial($event)" id='initial_file' name='initial_file' accept=".jpg" required>
        </div>
        <br>
        <div class="form-group">
          <label for="carPlate">Codigo de referencia</label>
        </div>
        <div class="form-group">
          <input type='text' [(ngModel)]="cod_ref" [ngModelOptions]="{standalone: true}" name='cod_ref'>
        </div>
        <br>
        <div class="form-group">
          <input type='submit' class="btn btn-primary">
        </div>
        <br>
      </form>
    </div>
  </div>
</div>
